@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

.App {
	width: 100vw;
	height: 100vh;
	background: #fff;
	color: #212121;
	font-family: "Open Sans", sans-serif;
	display: grid;
	place-items: center;
}
body {
	margin: 0%;
	padding: 0%;
}

.joinChatContainer {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.joinChatContainer h3 {
	font-size: 2.5rem;
	margin-bottom: 1rem;
}
.joinChatContainer input {
	width: 210px;
	height: 40px;
	margin: 7px;
	border: 2px solid #43a047;
	border-radius: 5px;
	padding: 5px;
	font-size: 16px;
}

.joinChatContainer button {
	width: 225px;
	height: 50px;
	margin: 7px;
	border: none;
	border-radius: 5px;
	padding: 5px;
	font-size: 16px;
	background: #43a047;
	color: #fff;
	cursor: pointer;
}

.joinChatContainer button:hover {
	background: #2e7d32;
}

.chat-window {
	width: 90%;
	max-width: 100vw;
}

.chat-window p {
	margin: 0;
}
.chat-window .chat-header {
	height: 45px;
	border-radius: 6px;
	background: #263238;
	position: relative;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: linear-gradient(to right, #263238, #192f3f);
	transition: background 0.3s ease;
}
.chat-window .chat-header p {
	display: block;
	padding: 0 1em 0 2em;
	color: #fff;
	font-weight: 700;
	line-height: 45px;
	font-size: 1.2em;
	padding: 0 1em;
}

.chat-window .chat-header:hover {
	background: linear-gradient(to right, #263238, #1d2d3b);
}

.chat-window .chat-body {
	height: calc(90vh - (45px + 40px + 2px));
	border: 1px solid #263238;
	background: #f5f5f5;

	position: relative;
}
.chat-window .chat-body .message-container {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
	display: none;
}
.chat-window .chat-body .message {
	height: auto;
	padding: 10px;
	display: flex;
}

.chat-window .chat-body .message .message-content {
	width: auto;
	height: auto;
	min-height: 40px;
	max-width: 70vw;
	background-color: #43a047;
	border-radius: 5px;
	color: white;
	display: flex;
	align-items: center;
	margin-right: 5px;
	margin-left: 5px;
	padding-right: 5px;
	padding-left: 5px;
	overflow-wrap: break-word;
	word-break: break-word;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.3s ease;
}

.chat-window .chat-body .message .message-content:hover {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#you {
	justify-content: flex-start;
}

#you .message-content {
	justify-content: flex-start;
}

#you .message-meta {
	justify-content: flex-start;
	margin-left: 5px;
}

#other {
	justify-content: flex-end;
}

#other .message-content {
	justify-content: flex-end;
	background-color: cornflowerblue;
}

#other .message-meta {
	justify-content: flex-end;
	margin-right: 5px;
}

.message-meta #author {
	margin-left: 10px;
	font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
	display: flex;
	font-size: 12px;
}

.chat-window .chat-footer {
	height: 40px;
	border: 1px solid #263238;
	border-top: none;
	display: flex;
}

.chat-window .chat-footer input {
	height: 100%;
	flex: 85%;
	border: 0;
	padding: 0 0.7em;
	font-size: 1em;
	border-right: 1px dotted #607d8b;

	outline: none;
	font-family: "Open Sans", sans-serif;
	border-radius: 0;
	border: none;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.chat-window .chat-footer input:focus,
.chat-window .chat-footer button:focus {
	outline: none;
}

.chat-window .chat-footer button {
	border: 0;
	display: grid;
	place-items: center;
	cursor: pointer;
	flex: 15%;
	height: 100%;
	background: transparent;
	outline: none;
	font-size: 25px;
	color: blueviolet;
	margin-top: -10px;
	border-radius: 0;
	border: none;
	transition: background-color 0.3s ease, color 0.3s ease;
	color: #7269ef;
}

.chat-window .chat-footer button:hover {
	color: #43a047;
}
.hide {
	opacity: 0 !important;
}
